<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Estudiantes</title>
</head>
<body>
<h1>Estudiantes</h1>
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Nombre</th>-->
<!--        <th>Grupo</th>-->
<!--        <th>Email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {{range .Students}}-->
<!--    <tr>-->
<!--        <td>{{.StudentID}}</td>-->
<!--        <td>{{.Name}}</td>-->
<!--        <td>{{.Group}}</td>-->
<!--        <td>{{.Email}}</td>-->
<!--    </tr>-->
<!--    {{end}}-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>
